#genres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.genre {
  align-items: center;
}

.genre-card {
  height: 275px;
  background-size: cover;
}

.genre-card:not(:last-child) {
  margin-bottom: 15px;
}

.genre-title {
  color: #BB86FC;
}

.genre-card > div {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow: hidden;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: auto;
}

.playlist-card {
  display: none;
  overflow: auto;
}

.horizontal-display {
  display: flex;
}